.navbar {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-logo {
  width: 120px;
  height: 35px;
  margin-left: 10px;
  padding-top: 10px;
}

.header-container {
  color: white;
  font-weight: bold;
}

a {
  margin: 10px;
  text-decoration: none;
}
